@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

body {
  background-color: #222831;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

#root {
  grid-template-columns: auto;
  margin: 0 auto;
  width: 96%;
  max-width: 1340px;
  grid-gap: 1rem;
  display: grid;
}

header {
  display: grid;
  background-color: #181c22;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem;
}

header h1 {
  display: grid;
  align-self: start;
  justify-self: start;
  margin: 0;
  padding: 0;
}

header input {
  align-self: center;
  justify-self: stretch;
  font-size: 125%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 0.25rem;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

section h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

section article {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #181c22;
}

section article figure {
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  justify-items: center;
  margin: 0;
}

section article span {
  background-color: #1161ca;
}

section article h1,
section article h2 {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

section article h1 {
  font-size: 2rem;
}
section article figure img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
